.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin: 20px;
  position: relative;
}

.create-card-btn {
  background-color: #B800FF;
  border: 1px solid rgba(27, 31, 35, 0.15);
  /* box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset; */
  color: #ffffff;
  padding: 6px 16px;

  &:hover {
      background-color: #71019B;
  }
}

.center-create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.back-arrow {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 5px solid #B800FF;
    border-right: 5px solid #B800FF;
    transform: rotate(135deg);  
    transition: all 0.2s ease;
    margin: 16px;
    &:hover {
      border-bottom: 5px solid #71019B;
      border-right: 5px solid #71019B;
  } 
}